<section>
    <div class="grid grid-cols-12 gap-6">
        <div class=" md:col-span-5 col-span-12">
            <owl-carousel-o  [options]="customOptions">
    
                @for (image of imageList; track getDetails.id) {
                    <ng-template carouselSlide>
                        <img [src]="image" [alt]="getDetails.title">
                    </ng-template>
                }
            
            </owl-carousel-o>
        </div>

        <div class="md:p-0 md:col-span-7 col-span-12 p-10 content-center">
            <div class="flex justify-between ">
                <div>
                    <h1 class="mb-4 text-main text-2xl">{{getDetails.title}}</h1>
                    <h3 class="mb-5 text-gray-500">{{getDetails.description}}</h3>
                </div>
                <div>
                    @if (wishListLoading !== true) {
                        @if (wishList === true) {
                            <button (click)="removeFromWishList()">
                                <fa-icon style="color: red;" [icon]="faHeart" class="text-3xl"></fa-icon>
                            </button>
    
                        }@else {
                            <button (click)="addToWishList()">
                                <fa-icon [icon]="faHeart" class="text-3xl"></fa-icon>
                            </button>
                        }
                    }@else {
                        <fa-icon [icon]="faSpinner" class="text-3xl" [spin]="true"></fa-icon>
                    }
                </div>
            </div>

            <div class="mb-4">
                <div class="flex items-center gap-2 mb-2">
                    <span class="font-semibold">{{"product.brand" | translate}}:</span>
                    <button [routerLink]="['/brands']" class="text-main hover:underline">{{getDetails.brandName}}</button>
                </div>
                <div class="flex items-center gap-2">
                    <span class="font-semibold">{{"product.category" | translate}}:</span>
                    <button [routerLink]="['/categories']" class="text-main hover:underline">{{getDetails.categoryName}}</button>
                </div>
            </div>

            <div class="flex justify-between mb-4">
                <p class="text-lg">{{getDetails.price}}EGY</p>
                <div class="flex items-center gap-2">
                    @for (item of [1,2,3,4,5].slice(0, getDetails.ratingsQuantity); track $index) {
                    <fa-icon style="color: #FFD700;" [icon]="faStar"></fa-icon>
                    }
                    @if (getDetails.ratingsQuantity % 1 != 0) {
                    <fa-icon style="color: #FFD700;" [icon]="faStarHalf"></fa-icon>
                    }
                    <span>{{getDetails.ratingsQuantity}}</span>
                </div>
            </div>
            <button [disabled]="AddingToCart" class="btn-main w-full" type="button" (click)="addToCart()">
                @if (AddingToCart) {
                    <fa-icon [icon]="faSpinner" class="text-2xl" [spin]="true"></fa-icon>
                }
                {{"product.add to cart" | translate}}
            </button>
        </div>
    </div>
</section>